
{{ define "header" }}
<html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <style>
       .container {
        max-width: 1024px;
       }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="columns">
                <div class="column col-12">
{{ end }}

{{ define "footer" }}
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}
{{ template "header" . }}
<h1> Jobs </h1>

<form action="/job/create" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="form-name-input">Name</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="name" id="form-name-input" palceholder="Name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="form-command-input">Command</label>
        </div>
        <div class="col-9 col-sm-12">
          <textarea class="form-input" name="command" id="form-command-input" placeholder="Command" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="form-selector-input">Selector</label>
        </div>
        <div class="col-9 col-sm-12">
          <textarea class="form-input" name="selector" id="form-selector-input" placeholder="Selector" rows="3"></textarea>
        </div>
    </div>
    <button class="btn btn-primary">Save</button>
</form>
{{ template "footer" . }}
