<form action="/job/create" method="post">
    <input name="name" value="{{.Name}}" placeholder="Name"></input>
    <input name="command" value="{{.Command}}" placeholder="Command"></input>
    <input name="selector" value="{{.Selector}}" placeholder="Selector"></input>
    <button>Create</button>
</form>