<form action="/job/{{.Id}}/edit" method="post">
    <input name="id" value={{.Id}} palceholder="ID"></input>
    <input name="name" value={{.Name}} palceholder="Name"></input>
    <input name="command" value={{.Command}} palceholder="Command"></input>
    <input name="selector" value={{.Selector}} palceholder="Selector"></input>
    <button>Save</button>
</form>